---
import BaseLayout from "@/layouts/BaseLayout.astro";
import WhatsappCTA from "@/components/ui/WhatsappCTA.astro";
---

<BaseLayout>
	<main class="min-h-screen bg-[var(--bg-page)] px-6 py-[var(--space-64)]">
		Lúmina Enterprise - Casos de Éxito
		<WhatsappCTA />
	</main>
</BaseLayout>
