---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CtaWhatsappL from "@/components/ui/CtaWhatsappL.astro";
---

<BaseLayout>
	<main class="min-h-screen bg-[var(--bg-page)] px-6 py-[var(--space-64)]">
		Lúmina Enterprise - Casos de Éxito
		<CtaWhatsappL />
	</main>
</BaseLayout>
