---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="min-h-screen bg-[var(--bg-page)] px-6 py-[var(--space-64)]">
		Lúmina Enterprise - Vacantes
	</main>
</BaseLayout>
