---
import Link from '../ui/Link.astro';

const { data } = Astro.props;
---

<section class="w-full max-w-[70rem] mx-auto p-6 text-center min-h-screen h-fit flex flex-col justify-center gap-8 bg-gradient-to-b from-[transparent] to-[var(--brand-blue)] rounded-lg">
  <header>
    <h2 class="text-3xl font-extrabold text-[var(--text-primary)]">Lúmina</h2>
    <p class="text-xl font-semibold text-[var(--brand-blue)]">en Ubuntu</p>
  </header>

  <section class="grid grid-cols-3 gap-6 max-w-[60rem] m-auto">
    {Array.isArray(data.images) && data.images.map((img: {
      src: string;
      alt: string;
      h3: string;
      p: string;
      class?: string;
      imgClass?: string;
    }) => (
      <div class={`relative hover:scale-105 transition-transform duration-200 ease-out hover:drop-shadow-lg overflow-hidden rounded-md aspect-[4/3] flex ${img.class ?? ""}`}>
        <img src={img.src} alt={img.alt} class="w-full h-full object-cover opacity-70" />
        <div class="absolute inset-0 flex flex-col items-center justify-center text-[var(--text-primary)] font-semibold bg-gradient-to-b from-[transparent] to-[var(--bg-page)] dark">
          <h3 class="text-lg">{img.h3}</h3>
          <p class="text-2xl text-[var(--brand-blue)] font-bold">{img.p}</p>
        </div>
      </div>
    ))}
  </section>

  <footer class="flex flex-col items-center gap-6 mt-6">
    <p class="text-[var(--text-primary)] max-w-lg">El aporte de Lúmina integró desarrollo, comunicación y estrategia digital para construir la identidad y presencia del proyecto Ubuntu.</p>
    <Link href="/more/services" class="text-[var(--text-button)] hover:text-[var(--text-button)]">Saber más</Link>
  </footer>
</section>