---
import Icon from "../ui/Icon.astro";

const { data } = Astro.props;
const { title = "Valor tangible" } = Astro.props;
---

<p class="text-[20px] font-bold text-[var(--brand-blue)]">{title}</p>
{data.results && (
  <p class="mb-6 text-[var(--text-primary)]" set:html={data.results}></p>
)}

{data.learnings && (
  <section class="mb-6">
    <ul class="list-none p-5 border border-[var(--bg-blur)] rounded-lg max-w-fit m-auto">
      {data.learnings.map((learning: string) => (
        <li class="flex items-center gap-2 mb-1 font-bold text-lg text-[var(--text-primary)]">
          <Icon src="/icons/ui/done.svg" size="md" class="text-[var(--brand-blue)]" />
          <span>{learning}</span>
        </li>
      ))}
    </ul>
  </section>
)}