---
import Icon from "../ui/Icon.astro";

const { learnings } = Astro.props;
---

{learnings && (
  <section class="my-9">
    <ul class="list-none p-5 border border-[var(--bg-blur)] rounded-lg max-w-fit m-auto flex flex-wrap gap-5 justify-center">
      {learnings.map((learning: string) => (
        <li class="flex items-center gap-2 mb-1 font-bold text-lg text-[var(--text-primary)]">
          <Icon src="/icons/ui/done.svg" size="md" class="text-[var(--brand-blue)]" />
          <span>{learning}</span>
        </li>
      ))}
    </ul>
  </section>
)}