---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/home/Hero.astro";
export const prerender = true;

const lastUpdated = "24 de septiembre de 2025";
---

<BaseLayout title="Lúmina - Diseño y desarrollo digital">
	<main
		class="min-h-screen bg-[var(--bg-page)] px-6 py-[var(--space-64)] flex flex-col gap-24"
	>
		<Hero />
	</main>
</BaseLayout>
