---
import Icon from "@/components/ui/Icon.astro";
---

<a
	href="https://wa.me/573108283088?text=Hola%2C%20me%20gustar%C3%ADa%20cotizar%20un%20servicio%2C%20por%20favor"
	target="_blank"
	class="fixed bottom-5 right-5 rounded-full w-14 h-14 flex items-center justify-center shadow-lg z-50 animate-floatY bg-[var(--text-button)] p-3"
>
	<Icon src="/icons/social/whatsappCta.svg" />
</a>
