---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
	href: string;
	text?: string;
}

const { href, class: extra = "", text, ...rest } = Astro.props as Props;
---

<a href={href} class={`link ${extra}`} {...rest}>
	{text ? text : <slot />}
</a>
