---
import Icon from "@/components/ui/Icon.astro";

interface Props {
	text: string;
	icon?: string;
	class?: string;
}

const {
	text,
	icon = "/icons/ui/code.svg",
	class: extra = "",
} = Astro.props as Props;
---

<article class={`mini-card ${extra}`} aria-label="Tarjeta informativa">
	<figure class="img-m-card" aria-hidden="true">
		<Icon src={icon} size="xl" />
	</figure>

	<section class="flex">
		<p class="text-center-italic text-[14px]">
			{text}
		</p>
	</section>
</article>
