---
import Icon from "@/components/ui/Icon.astro";
---

<a
	href="https://wa.me/573021011753?text=Hola%20quiero%20más%20información"
	target="_blank"
	class="fixed bottom-5 right-5 rounded-full w-14 h-14 flex items-center justify-center shadow-lg z-50 animate-floatY bg-[var(--text-button)] p-3"
>
	<Icon src="/icons/social/whatsappCta.svg" />
</a>
